@{
    ViewBag.Title = "Home Page";
}

@using System.Web.UI.WebControls
@model List<Character>


<div class="jumbotron mt-4">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    } else if (ViewBag.Winner != null)
    {
        <div class="alert alert-success">@ViewBag.Winner</div>
    }
    else if(ViewBag.Loser !=null)
    {
        <div class="alert alert-danger">@ViewBag.Loser</div>
        
    }
   @{
       int counter = Convert.ToInt32(Session["Counter"]);
   
       if (counter > 0)
       {
           <div class="alert alert-success">Keep going, your winning streak is @counter</div>
       }
   }

    <form action="/Home/HandleButtonClick" method="post">
        @for (var i = 0; i < Model.Count; i++)
        {
            var character = Model[i];
            <input required="true" type="radio" name="winner" id="@character.Name" value="@character.Id" />
            <label for="@character.Name">@character.Name</label>
            <input type="hidden" value="@character.Id" name="Character@(i)" />
        }
        <input type="submit" value="Test your luck">
    </form>
</div>